{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header mb-4">
					<h1>Ma liste de tâches</h1>
				</div>
			</div>
			<div class="col-md-12">
				<table class="table table-hover">
					<tbody>
						{% for task in tasks %}
							<tr {% if task.isChecked %} class="table-success" {% endif %}>
								<td class="text-center">
									{% if not task.isChecked %}
										<a href="#" class="btn btn-link btn-sm">
											<i class="bi bi-pencil-square"></i>
										</a>
									{% else %}
                                        <i class="bi bi-check-circle-fill text-success"></i>
                                    {% endif %}
								</td>
								<td>{{ task.label }}</td>
								<td>Créée le
									{{ task.createdAt|date('d/m/Y à H:i') }}</td>
								<td>
									{% if task.isChecked %}
										<span class="badge bg-success">Validée</span>
									{% else %}
										<a href="#" class="btn btn-outline-primary btn-sm">Valider</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table</div>
			</div</div>
		{% endblock %}
